$ff-pri: sans-serif;
$ff-alt: serif;

$fs-xs: 0.75rem; // 12
$fs-sm: 1.25rem; // 20
$fs-md: 1.5; // 24
$fs-lg: 2; // 32
$fs-xl: 3rem; // 48

@font-face {
  font-family: "font name";
  src: url("../fonts/filename.woff2") format("woff2"),
    url("../fonts/filename.woff") format("woff"),
    url("../fonts/filename.ttf") format("truetype"),
    url("../fonts/filename.otf") format("opentype");
}
